In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("D:/sentiment-analysis-1.csv")
df.head()

,Text,Sentiment,Source,Date/Time,User ID,Location,Confidence Score
0,"""I love this product!""",Positive,Twitter,6/15/2023 9:23:14 AM,@user123,New York,0.85
1,"""The service was terrible.""",Negative,Yelp Reviews,6/15/2023 11:45:32 AM,user456,Los Angeles,0.65
2,"""This movie is amazing!""",Positive,IMDb,6/15/2023 2:10:22 PM,moviefan789,London,0.92
3,"""I'm so disappointed with their customer suppo...",Negative,Online Forum,6/15/2023 5:35:11 PM,forumuser1,Toronto,0.78
4,"""Just had the best meal of my life!""",Positive,TripAdvisor,6/16/2023 8:50:59 AM,foodie22,Paris,0.88

In [3]:
import string

In [4]:
text=df['Text'][0]

In [5]:
text

'"I love this product!"'

In [6]:
 # converting into lower case
text.lower()

'"i love this product!"'

In [7]:
# removing punctuation
text.translate(str.maketrans("","",string.punctuation))

'I love this product'

In [8]:
# REMOVING WHITE-SPACES
text1=' I am from bihar '
clean_text= text1.strip()
print(clean_text)

I am from bihar

In [9]:
# Remove all whitespaces
text2=' I am from     Bihar '
clean_text= text1.replace(" ","")
print(clean_text)

Iamfrombihar

In [10]:
import re

In [11]:
text2=re.sub(' +',' ',text1)

In [12]:
print(text2)

 I am from bihar

In [13]:
# removing digits and special characters
re.sub(r'[a-zA-Z\s]','','Chandrayan-3 successfull')

'-3'

In [14]:
text3 = text.split()
print(text3)

['"I', 'love', 'this', 'product!"']

In [15]:
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\hiihe\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [16]:
from nltk.tokenize import word_tokenize
text3 = word_tokenize(text)
print(text3)

['``', 'I', 'love', 'this', 'product', '!', "''"]

In [17]:
from nltk.corpus import stopwords

In [18]:
print(set(stopwords.words('english')))

{'and', 'yourself', "you've", "aren't", 'there', 'aren', 'until', 'i', "wasn't", 'during', 'now', "didn't", 'below', "we've", "wouldn't", "needn't", 'this', "i've", 'do', "doesn't", 'weren', "i'll", 'over', 'just', 'she', 'wouldn', 'how', 'will', 'between', 'mightn', "they'd", 'won', "you'd", 'hers', 'needn', 'didn', 'off', 'your', 'when', 'don', "hasn't", 'doesn', 'because', 'shouldn', 'only', 'ain', 'y', 'but', 'them', 'ours', "it'll", 'theirs', "haven't", "won't", 'most', 'by', 'about', 'some', 'once', "couldn't", "we'll", 'again', 'after', "she'd", 'been', "that'll", 'have', 'are', 'on', 've', "she's", 'doing', 'own', 'shan', 'yours', "isn't", 'same', 'isn', 'herself', 'couldn', 'is', "hadn't", "he'd", 'were', 'against', 'yourselves', "mustn't", 'myself', 'before', 'his', 'we', 'has', 'nor', 'of', "it'd", 'should', "i'm", "they've", 'ma', 'haven', 'was', "shouldn't", "he'll", 'hadn', 'ourselves', 'they', 'where', 'to', 'my', 'these', 'too', 'very', 'wasn', 'a', 'can', "they'll", 'then', 'themselves', 're', 'not', "shan't", 'its', 'the', 'while', 'few', 'll', 'he', 'their', 'at', 'each', 'him', 'you', "i'd", "they're", "you're", 'm', 'through', 'all', 'into', 't', 'which', 'down', 'whom', 'had', 'from', 'both', "he's", 'itself', 'with', 'more', 'under', "we're", 'no', 'those', "mightn't", "should've", 'it', 'being', "you'll", 'what', 'did', 's', 'such', 'd', 'or', 'me', "weren't", 'that', 'be', 'further', 'here', 'hasn', 'in', 'mustn', 'as', "she'll", "we'd", "it's", 'does', "don't", 'why', 'other', 'than', 'any', 'for', 'himself', 'up', 'who', 'her', 'o', 'an', 'our', 'am', 'if', 'above', 'having', 'out', 'so'}

In [19]:
list1=[5,5,68,0]
list1

[5, 5, 68, 0]

In [20]:
set1= {5,2,1,10}
set1

{1, 2, 5, 10}

In [21]:
word=[]
text='Today weather is a cloudy'
list1=nltk.word_tokenize(text)
list1

['Today', 'weather', 'is', 'a', 'cloudy']

In [22]:
for i in list1:
    if i not in stopwords.words('english'):
        print(i)

Today
weather
cloudy

In [28]:
word1=[i for i in list1 if i not in stopwords.words('english')]
word1

['Today', 'weather', 'cloudy']

In [30]:
print('  '.join(word1))

Today  weather  cloudy

In [56]:
# lower casing the text
def lower_case(txt):
    return txt

In [54]:
# remove punctuation 
def remove_punc(txt):
    return txt.translate(str.maketrans("","",string.punctuation))

In [36]:
# remove digits and special characters
def remove_dig_char(txt):
    return re.sub(r'[^a-zA-Z\s]','','Chandrayan-3 successful')

In [38]:
# remove whitespaces
def remove_spaces(txt):
    return re.sub(' +',' ',txt)

In [40]:
# remove stopwords
def remove_stopwords(txt):
    list1=nltk.word_tokenize(txt)
    words=[i for i in list1 if i not in stopwords.words('english')]
    return ' '.join(words)

In [58]:
# cleaning function 
def clean(txt):
    txt=lower_case(txt)
    txt=remove_punc(txt)
    txt=remove_dig_char(txt)
    txt=remove_spaces(txt)
    txt=remove_stopwords(txt)
    return txt

In [60]:
df['cleaned_txt']=df['Text'].apply(clean)
df.head()

C:\Users\hiihe\AppData\Local\Temp\ipykernel_10836\2577722606.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cleaned_txt']=df['Text'].apply(clean)

,Text,Sentiment,Source,Date/Time,User ID,Location,Confidence Score,cleaned_txt,cleaned_text
0,"""I love this product!""",Positive,Twitter,6/15/2023 9:23:14 AM,@user123,New York,0.85,Chandrayan successful,Chandrayan successful
1,"""The service was terrible.""",Negative,Yelp Reviews,6/15/2023 11:45:32 AM,user456,Los Angeles,0.65,Chandrayan successful,Chandrayan successful
2,"""This movie is amazing!""",Positive,IMDb,6/15/2023 2:10:22 PM,moviefan789,London,0.92,Chandrayan successful,Chandrayan successful
3,"""I'm so disappointed with their customer suppo...",Negative,Online Forum,6/15/2023 5:35:11 PM,forumuser1,Toronto,0.78,Chandrayan successful,Chandrayan successful
4,"""Just had the best meal of my life!""",Positive,TripAdvisor,6/16/2023 8:50:59 AM,foodie22,Paris,0.88,Chandrayan successful,Chandrayan successful

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 0 to 95
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Text              96 non-null     object
 1   Sentiment         96 non-null     object
 2   Source            96 non-null     object
 3   Date/Time         96 non-null     object
 4   User ID           96 non-null     object
 5   Location          96 non-null     object
 6   Confidence Score  96 non-null     float64
 7   cleaned_txt       96 non-null     object
 8   cleaned_text      96 non-null     object
dtypes: float64(1), object(8)
memory usage: 7.5+ KB

In [64]:
df=df.dropna()
df.isnull().sum()

Text                0
Sentiment           0
Source              0
Date/Time           0
User ID             0
Location            0
Confidence Score    0
cleaned_txt         0
cleaned_text        0
dtype: int64

In [66]:
df['cleaned_text']=df['Text'].apply(clean)
df.head()

,Text,Sentiment,Source,Date/Time,User ID,Location,Confidence Score,cleaned_txt,cleaned_text
0,"""I love this product!""",Positive,Twitter,6/15/2023 9:23:14 AM,@user123,New York,0.85,Chandrayan successful,Chandrayan successful
1,"""The service was terrible.""",Negative,Yelp Reviews,6/15/2023 11:45:32 AM,user456,Los Angeles,0.65,Chandrayan successful,Chandrayan successful
2,"""This movie is amazing!""",Positive,IMDb,6/15/2023 2:10:22 PM,moviefan789,London,0.92,Chandrayan successful,Chandrayan successful
3,"""I'm so disappointed with their customer suppo...",Negative,Online Forum,6/15/2023 5:35:11 PM,forumuser1,Toronto,0.78,Chandrayan successful,Chandrayan successful
4,"""Just had the best meal of my life!""",Positive,TripAdvisor,6/16/2023 8:50:59 AM,foodie22,Paris,0.88,Chandrayan successful,Chandrayan successful

In [79]:
print(df.columns)

Index(['Text', 'Sentiment', 'Source', 'Date/Time', 'User ID', 'Location',
       'Confidence Score', 'cleaned_txt', 'cleaned_text'],
      dtype='object')

In [81]:
comparision=df[['Text','cleaned_text']].head(10)
comparision

                                                Text           cleaned_text
0                             "I love this product!"  Chandrayan successful
1                        "The service was terrible."  Chandrayan successful
2                           "This movie is amazing!"  Chandrayan successful
3  "I'm so disappointed with their customer suppo...  Chandrayan successful
4               "Just had the best meal of my life!"  Chandrayan successful
5           "The quality of this product is subpar."  Chandrayan successful
6  "I can't stop listening to this song. It's inc...  Chandrayan successful
7      "Their website is so user-friendly. Love it!"  Chandrayan successful
8             "I loved the movie! It was fantastic!"  Chandrayan successful
9               "The customer service was terrible."  Chandrayan successful